.money-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.balance-container{
    display: flex;
    justify-content: flex-start;
    background-color: #0e1400;
    width: 100%;
    border: 2px solid #c2cab2;
    border-radius: 16px;
    margin-bottom: 1em;
    color: #FFF;
}


.details-img{
    width: 64px;
    height: 64px;
    margin: 24px;;
}

.details-text{
    color: #eff0f5;
    font-style: 18px;
    line-height: 1.7;
    margin: 0;
    margin-bottom: 8px;
}

.income-container{
    display: flex;
    justify-content: flex-start;
    background-color: #011d28;
    width: 100%;
    border: 2px solid #a2c0cc;
    border-radius: 16px;
    margin-bottom: 1em;
    color: White;

}

.expenses-container{
    display: flex;
    justify-content: flex-start;
    background-color: #17012a;
    width: 100%;
    border: 2px solid #c8a7d6;
    border-radius: 16px;
    margin-bottom: 1em;
    color: #FFF;
}